.stats-grid {
    display: grid;grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
    text-align: center;
}
.stats {
    padding: 4rem 0;
}

.stat img {
    width: 100%;
    max-width: 8rem;
    margin: 0 auto 0.6rem;
    display: block;
}

.stat p {
    font-weight: 500;
    font-size: 1rem;
    color: #000000;
}




